/* ===================================
   比較表デザイン
   =================================== */
#dynamic-comparison-table-app .wp-block-table {
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0%, 0%, 0%, 0.1);
}

#dynamic-comparison-table-app table {
  width: 100%;
  border-collapse: collapse;
}

#dynamic-comparison-table-app th {
  padding: 12px 10px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

#dynamic-comparison-table-app td {
  background-color: #fff;
  padding: 12px 10px;
  text-align: center;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-size: 13px;
  line-height: 1.6;
}

#dynamic-comparison-table-app td:first-child {
  font-weight: bold;
}

#dynamic-comparison-table-app tr:last-child th,
#dynamic-comparison-table-app tr:last-child td {
  border-bottom: none;
}

#dynamic-comparison-table-app figcaption {
  text-align: center;
  font-size: 12px;
  color: gray;
  padding: 8px 0;
  margin-top: 5px;
}
